@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

.encabezado-sitio {
    background-color: #510c96; 
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    font-style: bold;
}

.logo-sitio h1 {
    font-size: 30px;
    font-weight: 700;
}

.navegacion-principal ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navegacion-principal a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.formulario-busqueda {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}


.seccion-destacada {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 8%;
    gap: 40px;
}




.texto-destacado h2 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

.texto-destacado p {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    max-width: 480px;
    margin-bottom: 40px;
}


.acciones-destacadas button {
    background-color: #edb96e;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-right: 15px;
    transition: filter 0.3s;
}



.formulario-cita {
    background-color: #d14d62; 
    width: 450px;
    padding: 40px;
    border-radius: 4px; 
    color: white;
}

.formulario-cita h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.formulario-cita form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fila-formulario {
    display: flex;
    gap: 10px;
}

.formulario-cita input, 
.formulario-cita textarea {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 4px;
}

.formulario-cita textarea {
    height: 100px;
    resize: none;
}


.formulario-cita button {
    background-color: #edb96e;
    color: #835c24; 
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.seccion-servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 8% 80px 8%;
}

.servicio-item {
    background-color: #f5f7f9; 
    padding: 40px 20px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s;
}


.iconos {
    width: 50px;
    height: 50px;
    color: #311165;
    margin-bottom: 20px;
}

.servicio-item p {
    font-weight: 600;
    font-size: 18px;
    color: #1a1a1a;
}

.pie-sitio {
    background-color: #8d0d87; 
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

